# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.ipynb_checkpoints/

# Virtual environment
.venv/
.venv*/
venv/
env/

# IDE
.idea/
.vscode/

# build artifacts
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Data & generated artifacts (не коммитим)
data/raw/
data/processed/
artifacts/
reports/

# Logs
*.log

# SRC
src/vkr_fraud_system.egg-info/